* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: sans-serif;
  background-color: #f8faff;
}

.app-layout {
  display: flex;
  height: 100vh;
  
}
 @media (max-width: 968px) {
  .app-layout {
    flex-direction: column;
  }
 }